# Challenge - Spaceship Titanic

### Objetivo:
#### Prever quais passageiros serão transportados para uma dimensão alternativa.

---

## Descrição dos dados:

| Variavel   |                   Definição                |
|------------|--------------------------------------------|
|PassengerId | Um ID exclisivo de cada passageiro         |
|HomePlanet  | O planeta de onde o passageiro partiu, normalmente o planeta de residência permanente.|
|CryoSleep   | Indica se o passageiro optou por ser colocado em animação suspensa durante a viagem.    |
|Cabin       | O número da cabine onde o passageiro está hospedado. Assume a forma deck/num/side, onde o lado pode ser P para Bombordo ou S para Estibordo.|
|Destination | O planeta para onde o passageiro desembarcará. |
|Age         | A idade do passageiro. |
|VIP         | Se o passageiro pagou por serviço VIP especial durante a viagem. |
|RoomService, FoodCourt, ShoppingMall, Spa, VRDeck | Valor que o passageiro faturou em cada uma das muitas comodidades de luxo da Nave Espacial Titanic. |
|Name | O nome e sobrenome do passageiro. |
|Transported | Se o passageiro foi transportado para outra dimensão. Este é o alvo, a coluna que você está tentando prever.|

---

#### Analise dos dados:

In [1]:
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as pyplot
import seaborn as sns

train = pd.read_csv("./CSV's_Titanic_Space/train.csv", index_col=0)
test  = pd.read_csv("./CSV's_Titanic_Space/test.csv", index_col=0)

train.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True